<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobile.joehonour.newcastleuniversity.unitracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".appentry.view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity" />
        <activity
            android:name=".configuration.view.ConfigurationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".configuration.view.ConfigurationYearWeightingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".coreapp.CoreAppTabContainerActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".coreapp.modules.view.AddModuleActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".coreapp.modules.view.IndividualModuleActivity" />
        <activity android:name=".appentry.view.LoadingScreenActivity" />

        <!-- Facebook activities -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- End Facebook activities -->

        <activity android:name=".configuration.view.ConfigurationAddYearWeighting"></activity>
    </application>

</manifest>